<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chesha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B0E36AE1C6B137500A0FEB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0E36C41C6B137600A0FEB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0E36CF1C6B137600A0FEB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
